In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/e1/e9/4d63f7e0d07a9019e5ce063b8569d4f8c76bf6fd8ff9ebdc9bb53bbad20f/mysql_connector_python-8.3.0-cp311-cp311-manylinux_2_17_x86_64.whl.metadata
  Downloading mysql_connector_python-8.3.0-cp311-cp311-manylinux_2_17_x86_64.whl.metadata (1.9 kB)
Downloading mysql_connector_python-8.3.0-cp311-cp311-manylinux_2_17_x86_64.whl (21.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 4.0 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [7]:
# Import mysql connector
import mysql.connector as connector
from mysql.connector import Error

In [8]:
try:
    connection = connector.connect(
        user = "root", 
        password = "qwerty20",
        database = "LittleLemonDB"
    )
    print("connection established successfully!")
except connector.Error as er:
    print(f"Error No: {er.errno}\nError Message: {er.msg}")

connection established successfully!

In [9]:
# get cursor from connection
cursor = connection.cursor()

# query to show all tables to test
query = "SHOW TABLES;"

# execute query
cursor.execute(query)

# get query results
for table in cursor.fetchall():
    print(table)

('bookings',)
('customers',)
('delivery_status',)
('menu_items',)
('menus',)
('orders',)
('staff',)

In [10]:
# query to select customer fullname, contact detail and Total Cost from customers and orders where Total Cost is 
# greater than 60
query = """
    select c.name, c.contact_details, o.total_cost as TotalCost 
    	from customers as c 
        inner join orders as o using(customer_id) 
        where o.total_cost > 60;
"""

# execute query
cursor.execute(query)

# get results from cursor and column names
print(cursor.column_names)

for record in cursor.fetchall():
    print(record)

('name', 'contact_details', 'TotalCost')
('John Doe', 'john@example.com', Decimal('216.00'))
('Jane Smith', 'jane@example.com', Decimal('158.00'))
('Michael Johnson', 'michael@example.com', Decimal('319.00'))
('Emily Davis', 'emily@example.com', Decimal('204.00'))
('Christopher Wilson', 'christopher@example.com', Decimal('124.00'))
('Michael Johnson', 'michael@example.com', Decimal('240.00'))
('John Doe', 'john@example.com', Decimal('319.00'))
('Christopher Wilson', 'christopher@example.com', Decimal('177.00'))
('Christopher Wilson', 'christopher@example.com', Decimal('216.00'))